.axis text {
    fill: #555;
}

.axis line,
.axis path {
    stroke: #555;
}

.dot {
    fill: red;
    fill-opacity:  0.25;
    stroke: red;
}

.title {
    text-anchor: middle;
    font-weight: bold;
    font-size: 24px;
}

.axis-label {
   text-anchor: middle;
   font-size: 19px;
}
