.axis text {
    fill: #555;
}

.axis line,
.axis path {
    stroke: #555;
}

.dot {
    fill: red
    Fill-opacity: 
    /* TODO: Style the dot class 
        1. change the fill color of the dot
        2. (option) change the outline color of the dot */
}

.title {
    text-anchor: middle;
    font-weight: bold;
    font-size: 24px;
}

.axis-label {
   text-anchor: middle;
   font-size: 19px;
}
